<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @team.stadium %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @team.foundation %>
</p>

<p>
  <strong>Country:</strong>
  <%= @team.country %>
</p>
<hr>
<strong>Players:</strong>
<ul>
  <% @team.players.each do |player|%>
      <li><%=player.name%></li>
  <%end%>
</ul>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

