<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @player.country %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @player.birthdate %>
</p>

<p>
  <strong>Foot:</strong>
  <%= @player.foot %>
</p>

<p>
  <strong>Player style:</strong>
  <%= @player.originposition %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team.name %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
